.banner-container {
  position: relative;
  background-size: cover;
  background-position: "center center";
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  padding: 20px;
  padding: 10px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) -5%,
    rgba(59, 59, 59, 0.15) 74%
  );
}

.banner-contents {
  position: absolute;
  top: 30vh;
  left: 5vw;
  max-width: 500px;
  max-height: 300px;
}

.banner-title {
  font-size: 2.5rem;
}

.banner-buttons {
  margin: 20px 0;
}

.banner-button {
  background-color: #000;
  opacity: 0.8;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.banner-button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.7s;
}
